body {
  padding: 12px;
  background-color: #D9E2EC;
}

.container {
  max-width: 1180px;
}

.card {
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  margin-bottom: 12px;
}

.title {
  text-align: center;
}

.help {
  color: #CCC;
  font-size: 0.8em;
}

.environment {
  display: flex;
  margin-top: 7px;
}

.environment input[type=color] {
  height: 36px;
  width: 48px;
}

.environment input[type=text] {
  flex-grow: 1;
  margin: 0 7px;
}

#btn-add-env {
  width: 100%;
  margin-top: 7px;
  border-style: dashed;
}

#import_file {
  padding: 3px 0;
}

#preview {
  position: relative;
  width: 648px;
  margin: 0 auto;
}

#preview-inner {
  position: absolute;
  text-align: center;
  top: 60px;
  width: 648px;
  padding: 48px;
}

#preview-browser {
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
}

#preview-bar {
  margin: 0 auto;
}

/*
html, body {
	height:  100%;
	margin: 0;
}

body {
	padding: 20px;
	background: linear-gradient(#34495e, #2c3e50);
	color: #ecf0f1;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	box-sizing: inherit;
}

h1 {
	font-family: 'Courier', monospace;
	text-align: center;
}

#btn-add-env {
	height: 10%;
	font-weight: bolder;
	font-family: 'Courier', monospace;
	margin-bottom: 7px;
}

.list-environments {
	width: 100%;
	margin: 0 auto;
	border: 2px dashed #2ecc71;
	padding: 1%;
}

.environment {
	display: flex;
	margin: 5px;
	justify-content: left;
	align-items: stretch;
}


input[type="color"] {
	border: none;
	background-color: white;
	padding: 0;
	min-width: 57px;
}

input[type="color"]::-moz-color-swatch{
	border: none;
}

input[type="text"] {
	width: 100%;
	height: inherit;
	border:  none;
}
*/
