html, body {
	height:  100%;
	margin: 0;
}

body {
	padding: 20px;
	background: linear-gradient(#34495e, #2c3e50);
	color: #ecf0f1;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	box-sizing: inherit;
}

h1 {
	font-family: 'Courier', monospace;
	text-align: center;
}

#btn-add-env {
	height: 10%;
	font-weight: bolder;
	font-family: 'Courier', monospace;
	margin-bottom: 7px;
}

.list-environments {
	width: 100%;
	margin: 0 auto;
	border: 2px dashed #2ecc71;
	padding: 1%;
}

.environment {
	display: flex;
	margin: 5px;
	justify-content: left;
	align-items: stretch;
}


input[type="color"] {
	border: none;
	background-color: white;
	padding: 0;
	min-width: 57px;
}

input[type="color"]::-moz-color-swatch{
	border: none;
}

input[type="text"] {
	width: 100%;
	height: inherit;
	border:  none;
}
